@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1> Welcome to Hot Grounds</h1>
</div>

<br />
<img src="/Images/coffee-based-drinks.jpg"
     width="600"
     height="250" />
<br />
<br />
<br />

@Html.ActionLink("Click here to register!", "seeform")
